<div class="hero-card">
    <div class="card-info", data-name="{{name}}", data-subtitle="{{#if subtitle}} {{subtitle}} {{/if}}", data-attack="{{attack}}", data-power="{{#if power}} {{power}} {{/if}}", data-brawn="{{#if brawn}} {{brawn}} {{/if}}", data-tech="{{#if tech}} {{tech}} {{/if}}">
        <div class="card-image">
            <img src="{{image}}">
        </div>
    </div>
</div>

