<div class="villain-card">
    <div class="villain-card-info", data-cost="{{cost}}", data-name="{{name}}", data-attack="{{attack}}", data-power="{{#if power}} {{power}} {{/if}}", data-brawn="{{#if brawn}} {{brawn}} {{/if}}", data-tech="{{#if tech}} {{tech}} {{/if}}">
        <div class="card-image">
            <img src="{{image}}">
        </div>
    </div>
</div>
